* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    font-family: "AkzidenzGrotesk", sans-serif;
    transition: all 0.3s ease;
}
.container {
    max-width: 1220px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.navbar {
    padding: 30px 0;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__links {
        nav {
            ul {
                display: flex;
                li {
                    list-style: none;
                    a {
                        margin: 0 10px;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: #000;
                    }
                }
            }
        }
    }
    &__section {
        button {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            border: 0;
            outline: 0;
            background: transparent;
            img {
                margin: 3px 0;
            }
        }
    }
}
.info {
    padding: 50px 0;
    &__intro {
        display: flex;
        justify-content: center;
        margin: 100px auto;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        margin: 250px 0 0 0;
    }
}
.title {
    background-image: url("../img/ico/bg__watch.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 250px 0;
    &__content {
        display: flex;
        justify-content: right;
        text-align: right;
        img {
            margin: 100px 0;
            width: 30%;
        }
    }
}
.burger {
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__img {
        img {
            max-width: 800px;
        }
    }
    &__intro {
        padding: 450px 0 0 0;
        h1 {
            font-size: 36px;
            font-weight: 400;
            color: #363434;
            span {
                font-weight: 300;
                text-transform: uppercase;
            }
        }
    }
    &__subtitle {
        padding: 20px 0 0 0;
    }
}
.author {
    padding: 100px 0;
    color: #363434;
    &__intro-left {
        display: flex;
        flex-direction: column;
        justify-content: left;
        text-align: left;
        p {
            font-size: 72px;
            font-weight: 500;
            line-height: 0;
        }
        h1 {
            font-size: 113px;
            text-transform: uppercase;
            margin: 5px 0;
        }
        h3 {
            font-size: 48px;
            letter-spacing: 0;
            line-height: 0;
            margin: 25px 0;
            span {
                font-size: 113px;
            }
        }
    }
    &__intro-right {
        display: flex;
        flex-direction: column;
        justify-content: right;
        text-align: right;
        p {
            font-size: 48px;
            font-weight: 600;
            letter-spacing: 0;
            span {
                font-size: 113px;
            }
        }
        h2 {
            font-size: 48px;
            letter-spacing: 0;
        }
        h3 {
            font-size: 48px;
            letter-spacing: 0;
        }
        h4 {
            font-size: 48px;
            letter-spacing: 0;
        }
    }
}
.round {
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        color: #2ba542;
        text-align: center;
        border: 10px solid #2ba542;
        border-radius: 100%;
        padding: 50px;
        h1 {
            span {
                text-transform: uppercase;
            }
        }
    }
}
.watch {
    padding: 200px 0;
    &__wrapper {
        margin: 0 auto;
        text-align: center;
        position: relative;
    }
    &__wrapper-item {
        margin: 30px 0;
        p {
            font-size: 25px;
            font-weight: 600;
            max-width: 320px;
            text-align: center;
            margin: 70px auto;
            color: #4c92da;
            transform: rotate(-90deg);
        }
    }
    &__wrapper-flex {
        display: flex;
        justify-content: space-between;
    }
    &__cifer {
        position: absolute;
        left: 40%;
        top: 17%;
        z-index: 10000;
    }
    &__intro {
        display: flex;
        justify-content: space-between;
        padding: 80px 0 0 0;
    }
    &__title {
        h1 {
            font-size: 55px;
            color: #363434;
        }
    }
    &__subtitle {
        p {
            font-size: 22px;
            font-weight: 300;
            color: #363434;
            max-width: 520px;
        }
    }
}
.luxe {
    padding: 400px 0;
    background-image: url("../img/luxe.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.corp {
    margin: 100px 0;
    padding: 400px 0;
    background-image: url("../img/corp.png");
    background-size: 100%;
    background-repeat: no-repeat;
    &__content {
        display: flex;
        justify-content: space-between;
        p {
            color: #8d8888;
            font-size: 22px;
            max-width: 520px;
            padding: 150px 0 0 0;
        }
    }
}
.footer {
    background-color: #000;
    padding: 50px 0;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__item {
        color: #fff;
    }
}